.container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); 
      max-width: 70%;
      gap: 20px;
      margin: 20px 0;
    }

  @media (max-width: 475px){
      .container{
        max-width: 100%;
        margin: 0;
        gap: 0;
      }
    }