.card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 80px auto;
    width: 70%;
    height: 90%;
    border: 1px solid #DDE6ED;
    border-radius: 10;
    background: #f6f6f6;
    box-shadow: 15px 15px 30px #bebebe -15px -15px 30px #ffffff;
}
  .img{
    max-width: 40%;
    animation: fadeIn .5s ease-out;
  }
  .infoContainer{
    display:flex;
    flex-direction: column;
    border: 2px solid #DDE6ED;
    border-radius: 2px;
    max-width: 30%;
    height: 100%;
    padding: 25px;
    margin: 20px 0px;
  }
  .title{
    font-size: 41px;
    font-weight: 900;
    margin: 20px 0px;
    background: -webkit-linear-gradient(40deg, #726A95, #9DB2BF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .price{
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0;
  }
  .text {
    font-size: 16px;
    color: #585858;
    letter-spacing: .5px;
    font-style: oblique;
  }
  
  .buttonContainer{
    display: flex;
    flex-direction: column;
    min-width: 90%;
  }

  .button {
    cursor: pointer;
    width: 50%;
    margin : 7px 0;
    font-size: 17px;
    padding: 10px 15px;
    border: transparent;
    background-color: var(--dark-button);
    color: white;
    border-radius: 20px;
}

@media(max-width: 475px){
  .card{
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .img{
    max-width: 75%;
    border-bottom: 2px solid #DDE6ED;
  }
  .infoContainer{
    max-width: 90%;
    border: none;
  }
}

@keyframes fadeIn {
    from{
      opacity: 0;
      scale: 0;
    }
    to{
      opacity: 1;
      scale: 1;
    }
}