.card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 250px;
      height: 350px;
      border: 1px solid #DDE6ED;
      border-radius: 10px;
      background: #f6f6f6;
      animation: fadeIn .5s ease-out;
      box-shadow: 15px 15px 30px #bebebe -15px -15px 30px #ffffff;
      transition: all .2s ease-in;
      &:hover{
        scale: 1.025;
        box-shadow: 8px 7px 30px -5px rgba(0,0,0,0.50);
      }
    }

    .img {
      max-width: 75%;
      min-height: 210px;
    }

    .link{
      text-decoration: none;
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 16px;
      color: #0E0E0E;
      gap: 10px;
    }
    
    .title {
      font-weight: 700;
      width:80%;
    }

    .price {
      font-weight: 400;
    }

    @keyframes fadeIn {
      from{
        opacity: 0;
      }
      to{
        opacity: 1;
      }
  }

  @media (max-width: 475px){
    .card{
      width: 373px;
      height: 33vh;
      flex-direction: row;
      justify-content: space-between;
    }
    .img{
      max-width: 50%;
    }
    .text{
      text-align: start;
      align-items: flex-start;
    }
  }