.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #726A95;
}

.img {
    max-width: 100px;
}

.categorias {
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #FAF0E6;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.categorias:hover{
    background-color: #351F39;
    transition: all 0.3s ease;
}

.count {
    text-decoration: none;
}

@media (max-width: 475px){
    .container{
        flex-direction: column;
    }
    nav{
        padding: 5% 0;
    }
    .count{
        display: none;
    }
}